<app-table
  [dataSource]="dataSource"
  [displayedColumns]="displayedColumns"
  matSort
  #sort="matSort"
>
  <!-- Custom column definition to be provided to the app table. -->
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.nombre }}</mat-cell>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="fecha_inicio">
    <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.fecha_inicio }}</mat-cell>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="fecha_fin">
    <mat-header-cell *matHeaderCellDef>Symbol</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.fecha_fin }}</mat-cell>
  </ng-container>

  <!-- Custom row definitions to be provided to the app table. -->
</app-table>
